<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libjpeg" version="8.0.4.14" targetFramework="Native" />
  <package id="libjpeg.redist" version="8.0.4.14" targetFramework="Native" />
  <package id="zlib" version="1.2.7.34" targetFramework="Native" />
  <package id="zlib.redist" version="1.2.7.34" targetFramework="Native" />
</packages>